@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --color-blue: #405175;
  --color-dark-blue: #001747;
  --color-light-blue: #2d70fd;
  --color-gray: #8c97ac;

  --color-white: #ffffff;

  --color-gray: #959aa2;

  --color-dark-gray: #1c1e26;
  --color-red: #eb2c44;

  --font-size-headline1: 40px;
  --font-size-small: 13px;
  --font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;

  padding: 0;

  font-family: inherit;

  border: none;

  outline: none;
  opacity: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size);
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  &.has-background-shade,
  &.has-duel-chat-expanded,
  &.has-filter-sort,
  &.has-modal-open,
  &.has-tournament-chat-expanded,
  &.has-non-static-sidebar-open,
  &.has-user-page-open {
    overflow: hidden;
  }
}

h1 {
  font-size: var(--font-size-headline1);
}

h2 {
  font-size: var(--font-size-headline2);
}

h3 {
  font-size: var(--font-size-headline3);
}

h4 {
  font-size: var(--font-size-headline4);
}

h5 {
  font-size: var(--font-size-headline5);
}

h6 {
  font-size: var(--font-size-headline6);
}
